/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url(./show.css);
 @import url(./index.css);
 @import url(./edit.css);


 a {
  text-decoration: none;
  color: #337ab7;
 }

 .navbar-bg-color {
  background-color: rgba(235, 235, 235, 0.5) !important;
 }

 .logo-position {
  margin: 5px;
  font-size: 18px;
  padding: 0;
  align-self: center;

 }

 .nav-link-size {
  font-size: 14px;
  color: #5c5c5c;
 }

 .nav-link-size:hover {
  color: #363636;
 }

 .logo-color {
  color: #5c5c5c;
 }

 .logo-color:hover {
  color: #363636;
 }
